<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Formulario</h1>
    <form action="/formulario/recibe-parametros" method="get" th:object="${datosFormulario}">
        <label for="iteraciones" th:text="#{validaciones.iteraciones}+${iteraciones}"></label>
        <input type="hidden" id="iteraciones" th:value="${iteraciones}">
        <br>
        <br>
        <fieldset>
            <legend th:text="#{validaciones.legend.datosUsuario}"></legend>
            <label for="nombre" th:text="#{validaciones.nombre}"></label>
            <input type="text" th:field="*{nombre}">
            <br>
            <br>
            <label for="clave" th:text="#{validaciones.clave}"></label>
            <input type="password" th:field="*{clave}">
            <br>
            <br>
            <label for="confirmarClave" th:text="#{validaciones.confirmarClave}"></label>
            <input type="password" th:field="*{confirmarClave}">
            <br>
            <br>
        </fieldset>
        <br>
        <fieldset>
            <legend th:text="#{validaciones.legend.datosPersonales}"></legend>
            <label for="generoSeleccionado" th:text="#{validaciones.genero}"></label>
            <br>
            <input type="radio" th:each="genero : ${listaGeneros}" th:name="Genero" th:value="${genero.key}" th:text="${genero.value}" th:checked="${genero.key}==*{generoSeleccionado}">
            <br>
            <br>
            <label for="fechaNacimiento" th:text="#{validaciones.fechaNacimiento}"></label>
            <input type="text" th:field="*{fechaNacimiento}">
            <br>
            <br>
            <label for="edad" th:text="#{validaciones.edad}"></label>
            <input type="text" th:field="*{edad}">
            <br>
            <br>
            <label for="pais" th:text="#{validaciones.pais}"></label>
            <select th:field="*{paisSeleccionado}">
                <option th:each="pais : ${listaPaises}" th:value="${pais.key}" th:text="${pais.value.getPais()}"></option>
            </select>
            <br>
            <br>
        </fieldset>
        <br>
        <fieldset>
            <legend th:text="#{validaciones.legend.datosContacto}"></legend>
            <label for="prefijoTelefonico" th:text="#{validaciones.prefijoTelefonicoPais}"></label>
            <input type="text" th:field="*{prefijoTelefonico}">
            <br>
            <br>
            <label for="telefono" th:text="#{validaciones.telefono}"></label>
            <input type="text" th:field="*{telefono}">
            <br>
            <br>
            <label for="email" th:text="#{validaciones.email}"></label>
            <input type="text" th:field="*{email}">
            <br>
            <br>
            <label for="url" th:text="#{validaciones.url}"></label>
            <input type="text" th:field="*{url}">
            <br>
            <br>
        </fieldset>
        <br>
        <fieldset>
            <legend th:text="#{validaciones.legend.otraInformacion}"></legend>
            <label for="archivos" th:text="#{validaciones.archivosSeleccionados}"></label>
            <input type="file" th:field="*{archivos}">
            <br>
            <br>
            <label for="musicasSeleccionadas" th:text="#{validaciones.musicasSeleccionadas}"></label>
            <select multiple th:field="*{musicasSeleccionadas}">
                <option th:each="musica : ${listaMusica}" th:value="${musica.key}" th:text="${musica.value}"></option>
            </select>
            <br>
            <br>
            <label for="aficionesSeleccionadas" th:text="#{validaciones.aficionesSeleccionadas}"></label>
            <select multiple th:field="*{aficionesSeleccionadas}">
                <option th:each="aficion : ${listaAficiones}" th:value="${aficion.key}" th:text="${aficion.value}"></option>
            </select>
            <br>
            <br>
        </fieldset>
        <br>
        <br>
        <fieldset>
            <legend th:text="#{validaciones.legend.operacionesFormulario}"></legend>
            <label for="licencia" th:text="#{validaciones.licencia}"></label>
            <input type="checkbox" th:field="*{licencia}">
            <br>
            <br>
            <input type="reset" th:value="#{validaciones.reset}">
            <br>
            <br>
            <input type="submit" th:value="#{validaciones.submit}">
            <br>
            <input type="image" src="/img/arrow.webp" width="50" height="50">
        </fieldset>
    </form>
</body>
</html>